.container-statistics {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5em;
}

.filter-statistics {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 15px 0px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.8em;
}

.filter-statistics span {
  font-weight: 600;
  font-size: 1.4em;
}

.filter-statistics select {
  width: 240px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  font-size: 1em;
}

.container-table-statistics {
  width: 100%;
  overflow-x: auto;
}

.table-statistic-response tbody td,
.table-statistic-response thead th {
  width: 10%;
}

.table-statistic-response tbody td:first-child {
  width: 90%;
}