.container-confirm-box {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  backdrop-filter: blur(5px);
}

.confirm-box {
  width: 400px;
  padding: 20px; /* Espaçamento interno */
  background: linear-gradient(145deg, #0099ff, #0055cc);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.confirm-box-title {
  max-width: 90%;
  font-size: 1.6em;
  word-wrap: break-word;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.bi-question-circle {
  font-size: 50px;
  color: #fff;
  margin-bottom: 20px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.confirm-box-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.2em;
}

.confirm-box-buttons button {
  width: 45%;
  height: 40px;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.confirm-box-buttons button:hover {
  transform: translateY(-2px);
}

.confirm-box-buttons button:nth-child(1) {
  background-color: #00aa14;
}

.confirm-box-buttons button:nth-child(1):hover {
  background-color: #fff;
  color: #00aa14;
}

.confirm-box-buttons button:nth-child(2) {
  background-color: #ff0000;
}

.confirm-box-buttons button:nth-child(2):hover {
  background-color: #fff;
  color: #ff0000;
}

@media (max-width: 450px) {
  .confirm-box {
    width: 90%;
    padding: 15px;
  }

  .confirm-box-title {
    font-size: 1.4em;
  }

  .confirm-box-buttons button {
    width: 40%;
    font-size: 1em;
  }
}