.container-table{
  width: 100%;
  overflow-x: auto;
  margin-bottom: 2em;
}

.table-response tbody td:first-child,
.table-response thead th:first-child {
  width: 8%;
}

.table-response tbody td:nth-child(2),
.table-response thead th:nth-child(2) {
  width: 8%;
}

.table-response tbody td:last-child,
.table-response thead th:last-child {
  width: 5%;
  border: none;
}

.table-response tbody td:nth-child(3),
.table-response thead th:nth-child(3) {
  width: 50%;
}

.correct-response,
.fail-response {
  font-size: 1.6em;
}

.correct-response {
  color: rgb(53, 255, 53);
}


.fail-response {
  color: rgb(255, 0, 0);
}