.filter-container-statistic {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  padding: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2em;
}

.filter-statistics-inputs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 0.2em;
}

.label-filter-statistics {
  display: flex;
  flex-direction: column;
}

.label-filter-statistics input {
  width: 250px;
  height: 25px;
  font-size: 1em;
  padding: 5px;
  outline: none;
}

.filter-statistic-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5em;
}

.filter-statistic-buttons button {
  width: 150px;
  height: 40px;
  cursor: pointer;
  background-color: rgb(1, 80, 130);
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: bold;
  color: #fff;
}

.filter-statistic-buttons button:hover {
  background-color: #005982;
}

.filter-statistic-buttons button:nth-child(2) {
  background-color: rgb(193, 5, 5);
}

@media (max-width: 620px) {
  .label-filter-statistics input {
    width: 320px;
    height: 30px;
  }
}

@media (max-width: 420px) {
  .filter-statistics-inputs {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .label-filter-statistics,
  .label-filter-statistics input {
    width: 100%;
  }
}
