*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

body {
  background: linear-gradient(135deg, #40c4ff 0%, #0033a0 100%);
}

.span-error-message{
  max-width: 100%;
  word-wrap: break-word;
  text-align: left;
  font-size: .9em;
  color: rgb(194, 0, 0);
  font-weight: bold;
}

.button-close {
  width: 100%;
  text-align: right;
}

.button-close span {
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  background-color: #ff5a5a;
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
}

.button-close span:hover {
  background-color: #ff3333;
  transform: scale(1.1);
}